<div class="container">
  <div class="row">
    <div class="card col-md-8 mx-auto r10">
      <img width="150" src="assets/img/logo.png" alt="" class="mb-3">
      <form (submit)="onSubmitAddUser()">
        <div class="row">
          <div class="col-md-7">
            <fieldset>
              <legend class="mb-3">Registro de nuevo usuario</legend>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" [(ngModel)]="email">
                  <small id="emailHelp" class="form-text text-muted">Ingrese su correo electronico.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="pass" [(ngModel)]="pass">
                  <small id="passwordHelp" class="form-text text-muted">Utiliza ocho caracteres como mínimo con una combinación de letras, números y símbolos.</small>
                </div>
            </fieldset>
          </div>
          <div class="col-md-5 text-center mt-4">
            <img width="150" src="assets/img/registro.png" alt="" class="mb-3">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Siguiente</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>